<app-header></app-header>
<header>
  <div></div>
</header>
<section>
  <div class="flex">
    <div class="grow available">
      <h2>Recommended Content</h2>
      <ng-container *ngFor="let info of data">
        <div class="content {{ info.type }}">
          <a href="{{ getContentUrl(info) }}">
            <img src="{{ getContentThumbnail(info) }}" alt="" />
            <br />
            <span>{{ info.title }}</span>
          </a>
        </div>
      </ng-container>
    </div>
    <div class="grow highlight">
      <h3>Your Top Highlight</h3>
      <ng-container>
        <br />
        <h3>{{ viewContent.contentTitle }}</h3>
        <a href="{{ viewContent.contentLaunchUrl }}"></a>
      </ng-container>
    </div>

  </div>
</section>
<section>
  <div class="flex">
    <div class="grow available">
      <h2>Highlight History</h2>
        <br />
        <ng-container *ngFor="let info of historyContent">
          <br />
          <h3>{{ info.context.note }}</h3>
          <p *ngIf="info.type === 'html'">{{info.text}}</p>
        </ng-container>
    </div>
  </div>
</section>

<footer></footer>
