<app-header></app-header>
<div
  *ngIf="currentHighlightsData?.length"
  style="margin-left: 80%"
  class="dropdown"
>
  <b>You have total : {{ currentHighlightsData?.length }} highlights</b>
</div>
<div
  #content
  (mousedown)="mouseDown()"
  (mouseup)="mouseUp()"
  [innerHtml]="data"
></div>

<div
  style="
    border-radius: 10px;
    border: solid;
    border-color: lightgray;
    padding: 5px;
    width: auto;
    background-color: lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
  "
  #highlightContent
  hidden
>
  <textarea #noteDiv [(ngModel)]="note"></textarea>
  <div class="flex-row">
    <button
      class="button-green"
      style="margin-right: 10px"
      (click)="saveHighlightText()"
    >
      Save
    </button>
    <button class="button-cancel" (click)="hideTheDiv()">Cancel</button>
  </div>
</div>
