<div #content>
  Awesome" began as a cabaret act thrown together by seven experienced fringe
  theater actors. Although they continued to perform in theatrical venues, their
  identity as a band and cabaret act has eclipsed their status as actors.[3]
  Around October 2003, several future members of "Awesome" played together in a
  They Might Be Giants tribute to raise money for Seattle's Open Circle
  Theater.[4] Their very first performance under the name "Awesome" (with just
  Ackermann, Mosher, Nixon, and Osebold) was in Seattle at Annex Theater's
  monthly cabaret "Spin the Bottle" On February 6, 2004,[2] and their first
  full-septet performance as "Awesome" was in the Jewelbox theater at Belltown
  bar the Rendezvous on June 30, 2004.[4] Their first major production was
  Delaware (first a multi-media stage production and later an album).[3] Gigs as
  a band have included performing on bills with Harvey Danger,[4][5] A. C.
  Newman,[4] U.S.E.,[4] The Presidents of the United States of America,[5] and
  The Long Winters.[5]
</div>
