.center {
  margin-top: 10%;
  text-align: center;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 10px;
}

flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.height-20 {
  height: 20px;
}

.bold {
  font-weight: bolder;
}

.margin-top-10 {
  margin-top: 10px;
}

input {
  border-radius: 8px;
  margin: 0 10px;
  border: 2px solid #00C6E0;
}

button {
  border-radius: 8px;
  border: 1px solid #00C6E0;
}
