.center {
  margin-top: 10%;
  text-align: center;
}

flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.height-20 {
  height: 20px;
}

.bold {
  font-weight: bold;
}

.maring-top-10 {
  margin-top: 10px;
}
