<div class="center">
  <h2>Welcome to The Highlights</h2>
  <form (ngSubmit)="login()">
    <div class="margin-top-10">
      <label class="bold" for="username">Username</label>
      <input
        type="text"
        class="height-20"
        id="username"
        name="username"
        [(ngModel)]="credentials.userName"
      />
    </div>
    <div class="margin-top-10">
      <label class="bold" for="password">Password</label>
      <input
        type="password"
        class="height-20"
        id="password"
        name="password"
        [(ngModel)]="credentials.password"
      />
    </div>
    <div class="margin-top-10">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
